.website,
.website * {
  box-sizing: border-box;
}
.website {
  width: 1920px;
  height: 5532px;
  position: relative;
}
.rectangle-172 {
  background: linear-gradient(
    173.09deg,
    rgba(0, 0, 0, 1) 18.28243136405945%,
    rgba(0, 9, 88, 1) 75.85633993148804%
  );
  width: 1920px;
  height: 5532px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.design-1 {
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.an-open-source-community-made-reborn-experience-for-the-surface-rt {
  color: #000000;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: absolute;
  left: 310px;
  top: 540px;
}
.your-new-reborn-rt {
  color: #000000;
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 632px;
  top: 451px;
}
.image-1 {
  width: 176px;
  height: 182px;
  position: absolute;
  left: 133px;
  top: 1398.47px;
  transform-origin: 0 0;
  transform: rotate(-41deg) scale(1, 1);
}
.image-14 {
  width: 176px;
  height: 182px;
  position: absolute;
  left: 1605.12px;
  top: 1313px;
  transform-origin: 0 0;
  transform: rotate(33deg) scale(1, 1);
}
.image-15 {
  width: 176px;
  height: 182px;
  position: absolute;
  left: 1556.91px;
  top: 1668.97px;
  transform-origin: 0 0;
  transform: rotate(27deg) scale(1, 1);
}
.image-20 {
  width: 176px;
  height: 182px;
  position: absolute;
  left: 144px;
  top: 2104.63px;
  transform-origin: 0 0;
  transform: rotate(-28deg) scale(1, 1);
}
.image-25 {
  width: 176px;
  height: 182px;
  position: absolute;
  left: 569px;
  top: 2774px;
  transform-origin: 0 0;
  transform: rotate(0deg) scale(1, 1);
}
.image-21 {
  width: 186px;
  height: 192px;
  position: absolute;
  left: 569px;
  top: 2063.44px;
  transform-origin: 0 0;
  transform: rotate(-27deg) scale(1, 1);
}
.image-22 {
  width: 177px;
  height: 182px;
  position: absolute;
  left: 1548.59px;
  top: 1978.65px;
  transform-origin: 0 0;
  transform: rotate(23deg) scale(1, 1);
}
.image-23 {
  width: 177px;
  height: 182px;
  position: absolute;
  left: 1189.24px;
  top: 1911px;
  transform-origin: 0 0;
  transform: rotate(29deg) scale(1, 1);
}
.image-13 {
  width: 194px;
  height: 182px;
  position: absolute;
  left: 446.37px;
  top: 1824.81px;
  transform-origin: 0 0;
  transform: rotate(152deg) scale(1, 1);
}
.image-2 {
  width: 182px;
  height: 182px;
  position: absolute;
  left: 845px;
  top: 1349.54px;
  transform-origin: 0 0;
  transform: rotate(-39deg) scale(1, 1);
}
.rt-1 {
  width: 980px;
  height: 608px;
  position: absolute;
  left: 470px;
  top: 1398px;
}
.a-new-life-for-an-abandoned-device-have-a-surface-rt-laying-around-and-don-t-know-what-to-do-with-it-get-rt-reborn-on-it-and-watch-how-that-little-tablet-becomes-usable-again-with-a-clean-and-sleek-design-that-resembles-the-windows-10-x-design-light-to-run-rt-reborn-is-the-only-os-that-you-need {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 103px;
  top: 1148px;
}
.a-new-life-for-an-abandoned-device-have-a-surface-rt-laying-around-and-don-t-know-what-to-do-with-it-get-rt-reborn-on-it-and-watch-how-that-little-tablet-becomes-usable-again-with-a-clean-and-sleek-design-that-resembles-the-windows-10-x-design-light-to-run-rt-reborn-is-the-only-os-that-you-need-span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.a-new-life-for-an-abandoned-device-have-a-surface-rt-laying-around-and-don-t-know-what-to-do-with-it-get-rt-reborn-on-it-and-watch-how-that-little-tablet-becomes-usable-again-with-a-clean-and-sleek-design-that-resembles-the-windows-10-x-design-light-to-run-rt-reborn-is-the-only-os-that-you-need-span2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.a-new-life-for-an-abandoned-device-have-a-surface-rt-laying-around-and-don-t-know-what-to-do-with-it-get-rt-reborn-on-it-and-watch-how-that-little-tablet-becomes-usable-again-with-a-clean-and-sleek-design-that-resembles-the-windows-10-x-design-light-to-run-rt-reborn-is-the-only-os-that-you-need-span3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.supported-by-the-community-all-applications-that-are-on-rt-reborn-are-community-made-and-open-source-you-can-build-your-own-app-and-share-it-to-the-community-and-get-on-the-appstore {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 453px;
  top: 2443px;
}
.supported-by-the-community-all-applications-that-are-on-rt-reborn-are-community-made-and-open-source-you-can-build-your-own-app-and-share-it-to-the-community-and-get-on-the-appstore-span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.supported-by-the-community-all-applications-that-are-on-rt-reborn-are-community-made-and-open-source-you-can-build-your-own-app-and-share-it-to-the-community-and-get-on-the-appstore-span2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.supported-by-the-community-all-applications-that-are-on-rt-reborn-are-community-made-and-open-source-you-can-build-your-own-app-and-share-it-to-the-community-and-get-on-the-appstore-span3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.constantly-updating-constantly-improving-evolving-everyday-constantly-maintained-with-silly-characters-around-the-os-3 {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 274px;
  top: 3259px;
}
.constantly-updating-constantly-improving-evolving-everyday-constantly-maintained-with-silly-characters-around-the-os-3-span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.constantly-updating-constantly-improving-evolving-everyday-constantly-maintained-with-silly-characters-around-the-os-3-span2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.constantly-updating-constantly-improving-evolving-everyday-constantly-maintained-with-silly-characters-around-the-os-3-span3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.ready-to-spice-up-your-rt-get-it-now {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 529px;
  top: 4279px;
}
.ready-to-spice-up-your-rt-get-it-now-span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 64px;
  font-weight: 400;
}
.ready-to-spice-up-your-rt-get-it-now-span2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.ready-to-spice-up-your-rt-get-it-now-span3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.rt-reborn-the-only-os-that-you-ll-need-made-with-3-by-mariow-dev-and-adamistech {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 682px;
  top: 5322px;
}
.rt-reborn-the-only-os-that-you-ll-need-made-with-3-by-mariow-dev-and-adamistech-span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
}
.rt-reborn-the-only-os-that-you-ll-need-made-with-3-by-mariow-dev-and-adamistech-span2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 400;
}
.rt-reborn-the-only-os-that-you-ll-need-made-with-3-by-mariow-dev-and-adamistech-span3 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.image-24 {
  width: 221px;
  height: 180px;
  position: absolute;
  left: 849px;
  top: 2747px;
}
.tasks {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 895px;
  top: 2943px;
}
.by-lh-fan {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 904px;
  top: 3018px;
}
.gallery {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 574px;
  top: 2982px;
}
.by-mariow-dev {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 584px;
  top: 3057px;
}
.ambient {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 400;
  position: absolute;
  left: 1157px;
  top: 2982px;
}
.by-f-1-l-0 {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 1225px;
  top: 3057px;
}
.image-28 {
  width: 176px;
  height: 182px;
  position: absolute;
  left: 1175px;
  top: 2774px;
}
.rt-upd-1 {
  width: 980px;
  height: 608px;
  position: absolute;
  left: 470px;
  top: 3460px;
}
.catto-1 {
  width: 320px;
  height: 320px;
  position: absolute;
  left: 357px;
  top: 3748px;
}
.rectangle-173 {
  background: #000000;
  border-radius: 33px;
  width: 329px;
  height: 121px;
  position: absolute;
  left: 795px;
  top: 4478px;
}
.download {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 400;
  position: absolute;
  left: 857px;
  top: 4514px;
}
.for-rt-and-rt-2-requires-windows-rt-8-1-or-10-for-8-1-open-in-metro-edge-app {
  color: #ffffff;
  text-align: center;
  position: absolute;
  left: 801px;
  top: 4605px;
}
.for-rt-and-rt-2-requires-windows-rt-8-1-or-10-for-8-1-open-in-metro-edge-app-span {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 400;
}
.for-rt-and-rt-2-requires-windows-rt-8-1-or-10-for-8-1-open-in-metro-edge-app-span2 {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
}
.for-generic-rt-tablets {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: underline;
  position: absolute;
  left: 849px;
  top: 4776px;
}
.asus-lenovo-dell-samsung {
  color: #ffffff;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  position: absolute;
  left: 854px;
  top: 4805px;
}
